#Arboretum{
    border: 2px dashed black;
    text-align: center;
    padding: 15px;
    background-color: green;
}
#Greatness{
    border: 2px solid blue;
    text-align: center;
    padding: 15px;
    background-color: wheat;
}
#Purple{
    border: 2px solid hotpink;
    text-align: center;
    padding: 15px;
    background-color: rebeccapurple;
}